.links-list {
    list-style: none!important;
}

.links-list__item {
    + .links-list__item {
        margin-top: 18px;
    }
}

.links-list__link {
    color: $black;
    letter-spacing: 1.15px;
    word-break: break-word;
    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &.active {
        font-family: $book-heavy;
        text-decoration: none;
    }
}