<section class="error-page">
    <div class="container">
        <img src="{{ 'err-img.png' | asset_img_url: "master" }}" alt="404">
        <h2>{{ 'general.404.title' | t }}</h2>
        <p>{{ 'general.404.subtext_html' | t }}</p>
        <a class="button" href="{{ shop.url }}">Back to home</a>
    </div>
</section>