<div class="search-page">
    <div class="container">
        <h2 class="page-title"> Search </h2>
        <div class="row justify-content-center" id="bc-sf-filter-wrapper">
            <div class="col-xl-10 search-page-results">
                {% section 'search-template-bc-sf-filter' %}
            </div>
        </div>
    </div>
</div>