.mobile-menu{
    display: none;
    @include breakpoint(medium){
        display: block;
    }
    
    position: fixed;
    top:0;
    right:0;
    padding-top:80px;
    padding-left:30px;
    bottom:0;
    left:0;
    z-index:10;
    background-color: #fff;
    transform: translateX(-120%);
    transition: transform 400ms;


    .mobile-menu-opened &{
        transform: translateX(0%);
    }

    .header-menu--mobile + .header-menu--mobile{
        padding-top:50px;

        @include breakpoint(small){
            @media (orientation: landscape) {
                padding-top:0;
            }
        }
    }

    @include breakpoint(mobile-landscape){
        padding-left:10px;
    }
    
    @include breakpoint(small){
        @media (orientation: landscape) {
            padding-top:65px;
        }
    }
}

.mobile-menu__scroll{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    overflow-y: auto;
    height:100%;
}

.mobile-menu__content{
    position: relative;
    height:calc(100% - 110px);


    @include breakpoint(mobile-landscape){
        height:calc(100% - 90px);
    }

    @include breakpoint(small){
        @media (orientation: landscape) {
            height:calc(100% - 70px);
        }
    }
}

.mobile-menu__footer{
    padding-top:30px;
    padding-right:30px;


    .button{
        min-width: 320px;
    }

    @include breakpoint(mobile-landscape){
        padding-right:10px;
        .button{
            width:100%;
            min-width: 0;
        }
    }

    @include breakpoint(small){
        @media (orientation: landscape) {
            padding-top:15px;
        }
    }
}

.mobile-menu__scroll{
    overflow: auto;
}