// Book
@font-face {
    font-family: 'NeuzeitS LT Book';
    src: url('NeuzeitSLT-Book.eot');
    src: url('NeuzeitSLT-Book.eot?#iefix') format('embedded-opentype'),
    url('NeuzeitSLT-Book.woff2') format('woff2'),
    url('NeuzeitSLT-Book.woff') format('woff'),
    url('NeuzeitSLT-Book.ttf') format('truetype'),
    url('NeuzeitSLT-Book.svg#NeuzeitSLT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Book Heavey
@font-face {
    font-family: 'NeuzeitS LT Book-Heavy';
    src: url('NeuzeitSLT-BookHeavy.eot');
    src: url('NeuzeitSLT-BookHeavy.eot?#iefix') format('embedded-opentype'),
    url('NeuzeitSLT-BookHeavy.woff2') format('woff2'),
    url('NeuzeitSLT-BookHeavy.woff') format('woff'),
    url('NeuzeitSLT-BookHeavy.ttf') format('truetype'),
    url('NeuzeitSLT-BookHeavy.svg#NeuzeitSLT-BookHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}